<!-- Page -->
<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
         <ul>
            <li class="HeaderName">Inventory</li>
            <li class="arrow">>></li>
            <li class="LinkName" [routerLink]="['/List_Receive_Products']">Receive Products List</li>
            <li class="arrow">>></li>
            <li>Receive Products View</li>
         </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            <!-- Company details -->
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Request </span> Details
               </h5>
               <div class="view_item">
                  <div class="Static">Inward Ref </div>
                  <div class="dots"> : </div>
                  <div class="Data">{{_Data['Supplier_Detail']?.PurchaseBill_RefNo }}</div>
               </div>
               <div class="view_item">
                  <div class="Static">Date</div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{_Data['Supplier_Detail']?.PurchaseBill_Date | date}} </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Supplier </div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{_Data['Supplier_Detail']?.Supplier_Id?.Name}} </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Purchase Order No </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Order-{{_Data['Supplier_Detail']?.PurchaseBill_Number_Length}} </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Purchase Date </div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{_Data['Supplier_Detail']?.PurchaseBill_Date | date}} </div>
               </div>
               <br>
               <div> 
                  <button *ngIf="!_Data['Supplier_Detail']?.If_Received" mat-raised-button color="primary" style ="margin-left: 10px;" (click)="UpdateStock()"> Receive </button>
                  <button mat-raised-button color="primary" style ="margin-left: 10px;"> Return </button>
                  <!-- <button mat-raised-button color="primary" style ="margin-left: 10px;"> Back </button> -->
               </div>
            </div>
            <br>
         </div>
         <!-- Section Identity -->
         <div class="col-sm-8">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Product </span> Details
               </h5>
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th> S.no </th>
                           <th> Product </th>
                           <th> Unit Price </th>
                           <th> Quantity </th>
                           <th> Product Total </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let Data of _Data['Supplier_Product_Detail'];let i=index">
                           <td>
                              <span class="S_no">{{i+1}}</span>
                           </td>
                           <td>
                              <span class="Style_1">{{Data['Product_Id']?.Name_withAttribute}}</span>
                           </td>
                           <td>
                                <span class="Style_1">{{Data['Price']}} </span>
                             </td>
                           <td>
                              <span class="Style_1">{{Data['Quantity']}} </span>
                           </td>
                           <td>
                              <span class="Style_1">{{Data['Product_Total']}}</span>
                           </td>    
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- Result Section -->
               <div class="row" style="margin-top: 20px;">
                  <div class="col-sm-8">
                  </div>
                  <div class="col-sm-4">
                     <div class="ResultSection">
                        <span class="Title"> Total </span>
                        <span class="Split"> : </span>
                        <span class="Value">{{_Data['Supplier_Detail']?.Net_Amount}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
</div>
   
