<div class="page" style="margin-top:100px;margin-bottom:100px;">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
            <ul>
               <li class="HeaderName">Accounts</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/List_Log_Expenses']"> Log Expenses List</li>
               <li class="arrow">>></li>
               <li> Log Expenses View</li>
            </ul>
            </div>
         </div>
         <div class="row">
            <!-- Company details -->
            <div class="col-sm-12">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Expenses </span> Details
               </h5>
               <div class="Company_Details">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="view_item">
                           <div class="Static"> Expenses Type </div>
                           <div class="dots"> : </div>
                           <div class="Data"> Vagical Expence </div>
                        </div>
                        <div class="view_item">
                           <div class="Static">Expense Date</div>
                           <div class="dots"> : </div>
                           <div class="Data"> 21/09/18  </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="view_item">
                           <div class="Static"> Amount </div>
                           <div class="dots"> : </div>
                           <div class="Data">  40000 </div>
                        </div>
                        <div class="view_item">
                           <div class="Static"> Notes </div>
                           <div class="dots"> : </div>
                           <div class="Data"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, optio sunt saepe nisi aliquid dolorum consequuntur earum  </div>
                        </div>
                     </div>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      
   
