
/* Button Color Overwrite */
.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
   background-color: #4E6A7A;
   color: #ffffff;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
   color: #4E6A7A;
}
.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay{
   background-color: rgba(134, 153, 165, 0.32);
}

/* Table Action Button Style Change */
.Table_Action_mini.mat-mini-fab{
   height: 35px;
   width: 35px;
   margin-right: 7px;
}
.Table_Action_mini.mat-mini-fab .mat-button-wrapper{
   padding: 5px 0px;
}

/* Check Box Background Color Overwrite */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
   background-color: #4E6A7A;
}


/* Menu Button  */

.MenuStyleOne .mat-menu-item-highlighted:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-keyboard-focused:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-program-focused:not([disabled]),
.MenuStyleOne .mat-menu-item:hover:not([disabled]) {
   background: rgba(78, 106, 122, 0.3)  !important;
}

.MenuStyleOne .mat-menu-content:not(:empty) {
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}
.MenuStyleOne .mat-menu-item{
   line-height: 35px !important;
   height: 35px !important;
}