<div class="page" style="margin-top:100px;margin-bottom:100px;">
  <div class="container-fluid">
     <!-- page Identity -->
     <div class="Page_Identity">
        <div class="Page_Track">
           <ul>
              <li class="HeaderName">Inventory</li>
              <li class="arrow">>></li>
              <li class="LinkName" [routerLink]="['/List_Franchisee_Order']">Franchisee Order List</li>
              <li class="arrow">>></li>
              <li>Franchisee Order View</li>
           </ul>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-4">
           <!-- Company details -->
           <div class="Company_Details">
              <h5 class="SectionIdentity"> 
                 <span class="Highlight"> Requested </span> Details
              </h5>
              <div class="view_item">
                 <div class="Static">Outward Ref </div>
                 <div class="dots"> : </div>
                 <div class="Data"> {{_Data?.FranchiseeOrder_Details['PurchaseRequest_RefNo']}} </div>
              </div>
              <div class="view_item">
                 <div class="Static">Requested Date</div>
                 <div class="dots"> : </div>
                 <div class="Data"> {{_Data?.FranchiseeOrder_Details['PurchaseRequest_Date'] | date}} </div>
              </div>
              <div class="view_item">
                <div class="Static">Expected Date</div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data?.FranchiseeOrder_Details['Expected_Date'] | date}} </div>
             </div>
              <div class="view_item">
                 <div class="Static"> Franchisee </div>
                 <div class="dots"> : </div>
                 <div class="Data"> {{_Data?.FranchiseeOrder_Details.Franchisee_Id['Name']}} </div>
              </div>
              <br>
              <div> 
                 <button *ngIf="_Data?.FranchiseeOrder_Details['Current_Status'] === 'Request'" mat-raised-button color="primary" style ="margin-left: 10px;" (click)="CreateDeliver()"> Create Deliver </button>
              </div>
           </div>
           <br>
        </div>
        <!-- Section Identity -->
        <div class="col-sm-8">
           <div class="Company_Details">
              <h5 class="SectionIdentity"> 
                 <span class="Highlight"> Product </span> Details
              </h5>
              <div class="Table_Section">
                 <table>
                    <thead>
                       <tr>
                          <th style="width: 80px"> S.no </th>
                          <th> Product </th>
                          <th> Requested Quantity</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let item of _Data?.FranchiseeOrder_Product_Details; let i = index">
                          <td>
                             <span class="S_no"> {{i+1}} </span>
                          </td>
                          <td>
                             <span class="Style_1">{{item?.Product_Id['Name_withAttribute']}}</span>
                          </td>
                          <td>
                             <span class="Style_1"> {{item?.Requested_Quantity}} </span>
                          </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
              <!-- Result Section -->
              <!-- <div class="row" style="margin-top: 20px;">
                 <div class="col-sm-8">
                 </div>
                 <div class="col-sm-4">
                    <div class="ResultSection">
                       <span class="Title"> Sub Total </span>
                       <span class="Split"> : </span>
                       <span class="Value"> Rs.0000 </span>
                    </div>
                    <div class="ResultSection">
                       <span class="Title"> Total Tax</span>
                       <span class="Split"> : </span>
                       <span class="Value"> Rs.0000 </span>
                    </div>
                    <div class="ResultSection">
                       <span class="Title"> Total </span>
                       <span class="Split"> : </span>
                       <span class="Value"> Rs.0000 </span>
                    </div>
                 </div>
              </div> -->
           </div>
           <br>
        </div>
     </div>
  </div>
</div>

 
