<app-header></app-header>
<div class="Main_Section">
  <div class="container-fluid">
    <!-- page Section -->
    <div class="Page_Section">
      <!-- Page Identity -->
      <div class="Page_Identity">
        <div class="Page_Track">
          <ul>
            <li class="HeaderName">Home</li>
            <li class="arrow">>></li>
            <li>DashBoard</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12 ">
              <div class="row">
                <div class="col-sm-3">
                  <div class="Card card_bg_Liner_1">
                    <div class="Card_Body">
                      <div class="Card_Left">
                        <i class="material-icons people">
                          people
                        </i>
                      </div>
                      <div class="Card_Right">
                        <h5 class="card_color_1"> Customers </h5>
                        <h6> 10 Customers</h6>
                      </div>
                    </div>
                    <div class="Card_Footer card_bg_1">
                      <span class="Card_Info"> View More </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="Card card_bg_Liner_2">
                    <div class="Card_Body">
                      <div class="Card_Left">
                        <i class="material-icons Total_Invoice">
                          assignment
                        </i>
                      </div>
                      <div class="Card_Right">
                        <h5 class="card_color_2 "> Total Invoice </h5>
                        <h6>25 Invoices</h6>
                      </div>
                    </div>
                    <div class="Card_Footer card_bg_2">
                      <span class="Card_Info"> 25,000,000 </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="Card card_bg_Liner_3">
                    <div class="Card_Body">
                      <div class="Card_Left">
                        <i class="material-icons Paid_Invoice">
                          assignment
                        </i>
                      </div>
                      <div class="Card_Right">
                        <h5 class="card_color_3"> Paid Invoice</h5>
                        <h6> 15 paid</h6>
                      </div>
                    </div>
                    <div class="Card_Footer card_bg_3">
                      <span class="Card_Info"> 40,000,000 </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="Card card_bg_Liner_4">
                    <div class="Card_Body">
                      <div class="Card_Left">
                        <i class="material-icons unPaid_Invoice">
                          assignment
                        </i>
                      </div>
                      <div class="Card_Right">
                        <h5 class="card_color_4"> Unpaid Invoice</h5>
                        <h6> 20 Unpaid </h6>
                      </div>
                    </div>
                    <div class="Card_Footer card_bg_4">
                      <span class="Card_Info"> 30,000,000 </span>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class="Table_Section">
                <table>
                  <thead>
                    <tr>
                      <th>S.no</th>
                      <th>Bill No</th>
                      <th>Bill date</th>
                      <th>Franchisee Name </th>
                      <th>Bill Value </th>
                      <th>Paid </th>
                      <th>Unpaid </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="S_no"> 1 </span>
                      </td>
                      <td>
                        <span class="Style_1">123</span>
                      </td>
                      <td>
                        <span class="Style_1">17.08.15</span>
                      </td>
                      <td>
                        <span class="Style_1">Mutton 1KG Box </span>
                      </td>
                      <td>
                        <span class="Style_1">30,000.00 </span>
                      </td>
                      <td>
                        <span class="Style_1">28,000.00</span>
                      </td>
                      <td>
                        <span class="Style_1">25,000.00 </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 2 </span>
                      </td>
                      <td>
                        <span class="Style_1">123</span>
                      </td>
                      <td>
                        <span class="Style_1">17.08.15</span>
                      </td>
                      <td>
                        <span class="Style_1">Chicken 1KG Box </span>
                      </td>
                      <td>
                        <span class="Style_1">30,000.00 </span>
                      </td>
                      <td>
                        <span class="Style_1">28,000.00</span>
                      </td>
                      <td>
                        <span class="Style_1">25,000.00 </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 3 </span>
                      </td>
                      <td>
                        <span class="Style_1">123</span>
                      </td>
                      <td>
                        <span class="Style_1">17.08.15</span>
                      </td>
                      <td>
                        <span class="Style_1">Fish-1 1KG Box </span>
                      </td>
                      <td>
                        <span class="Style_1">30,000.00 </span>
                      </td>
                      <td>
                        <span class="Style_1">28,000.00</span>
                      </td>
                      <td>
                        <span class="Style_1">25,000.00 </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 4 </span>
                      </td>
                      <td>
                        <span class="Style_1">123</span>
                      </td>
                      <td>
                        <span class="Style_1">17.08.15</span>
                      </td>
                      <td>
                        <span class="Style_1">fish-2 1KG Box </span>
                      </td>
                      <td>
                        <span class="Style_1">30,000.00 </span>
                      </td>
                      <td>
                        <span class="Style_1">28,000.00</span>
                      </td>
                      <td>
                        <span class="Style_1">25,000.00 </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 5 </span>
                      </td>
                      <td>
                        <span class="Style_1">123</span>
                      </td>
                      <td>
                        <span class="Style_1">17.08.15</span>
                      </td>
                      <td>
                        <span class="Style_1">fish-3 1KG Box </span>
                      </td>
                      <td>
                        <span class="Style_1">30,000.00 </span>
                      </td>
                      <td>
                        <span class="Style_1">28,000.00</span>
                      </td>
                      <td>
                        <span class="Style_1">25,000.00 </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="Calender">
            <p-calendar class="Custom_Calender_1" [inline]="true"></p-calendar>
          </div>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>