<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <div class="Page_Identity">
         <!-- Page Identity -->
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Sales</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/List_Bill']">Bill List</li>
               <li class="arrow">>></li>
               <li>Bill Create</li>
            </ul>
         </div>
      </div>
      <form [formGroup]="Form">
      <div class="row">
         <div class="col-sm-12">
            <!-- Company details -->
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Bill </span> Details
               </h5>
               <div class="row">
                  <div class="col-sm-4 Form_Select" >
                     <ng-select class="NgSelect ValueBold"
                                 [items]="_CustomerList"
                                 [bindLabel]="'Customer_Search'"
                                 [bindValue]="'_id'"
                                 formControlName="Customer"
                                 [searchable]="true"
                                 (ngModelChange)="onSelectCustomer($event)"
                                 placeholder="Customer Name">
                     </ng-select>
                     <p class="error" *ngIf="Form.controls['Customer'].errors && Form.controls['Customer'].touched">
                      <span *ngIf="Form.controls['Customer'].errors.required"> Customer is required</span>
                    </p>
                  </div>
                  <div class="col-sm-4 Form_Input">
                     <input type="text" placeholder="Email address (Optional)" formControlName="CustomerEmail" readonly>
                  </div>
                  <div class="col-sm-4 Form_Input" >
                    <input placeholder="Bill date" formControlName="BillDate" (keypress)="DoNothing()" (keydown)="DoNothing()" bsDatepicker>
                    <p class="error" *ngIf="Form.controls['BillDate'].errors && Form.controls['BillDate'].touched">
                      <span *ngIf="Form.controls['BillDate'].errors.required"> Bill Date is required</span>
                    </p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Product Details -->
         <div class="col-sm-12" style="margin-top:25px;">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Product </span> Details
               </h5>
               <span class="AddMoreButton">
                  <button mat-raised-button color="primary" (click)="addItem()">Add Product</button>
               </span>
               <br>
               <!-- Table Section -->
               <div class="Product_Details">
                  <table class="table_section">
                     <thead class="table_head">
                        <tr>
                           <th style="width: 80px">S.No</th>  
                           <th> Product </th>  
                           <th style="width: 200px">Price</th>  
                           <th style="width: 200px">Quantity</th>  
                           <th style="width: 200px">Total</th> 
                           <th style="width: 100px">Action</th> 
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container formArrayName="items" *ngFor="let item of Form.get('items').controls; let i = index;" >
                         
                          <tr [formGroupName]="i" >
                           
                            <td class="Style_1">
                              <span> {{i+1}} </span> 
                           </td>
                           <td>
                              <div class="Form_Select">
                                 <ng-select class="NgSelect ValueBold" 
                                    [items]="_temProductList"
                                    bindLabel="Product_Search"
                                    formControlName="Product"
                                    [searchable]="true"
                                    placeholder="Product"
                                    (ngModelChange)="FilterProduct()">
                                 </ng-select>   
                              </div>
                           </td>
                            <td>
                              <div class="Form_Input">
                                 <input type="text" formControlName="Price" (blur)="onTabQuantity(i)">
                              </div>
                            </td>
                            <td>
                              <div class="Form_Input">
                                 <input type="text" formControlName="Quantity" (blur)="onTabQuantity(i)">
                              </div>
                            </td>
                            <td>
                              <div class="Form_Input">
                                 <input type="text" readonly formControlName="Product_Total">
                              </div>
                            </td>
                            <td>
                            <button class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary" (click)="Delete(i)" *ngIf="items?.length > 1">
                                <i class="material-icons">delete_forever</i>
                             </button>
                            </td>
                          </tr>                      

                        </ng-container>
                     </tbody>
                  </table>
                  <br>
                  <div class="row">
                     <div class="col-sm-9">
                     </div>
                     <!-- Result Section -->
                     <div class="col-sm-3">
                        <div class="ResultSection">
                           <span class="Title"> Net Amount </span>
                           <span class="Split"> : </span>
                           <span class="Value"> Rs.{{Total_Value}} </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </form>
   </div>
</div>
<!-- Footer -->
<div class="FooterForBill">
   <button mat-raised-button color="primary" style = "top: 5px;" (click)="Next(template)"> Next </button>
</div>

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Payment method</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="Form">
         <ng-select name="payment"
                  (ngModelChange)="onChange($event)"
                  [items]="options"
                  bindLabel="paymentType"
                  formControlName="PaymentType"
                  class="NgSelect ValueBold Form_Select"
                  placeholder="Select payment option">
         </ng-select>
         <br/>
         <input type="text" *ngIf="referenceInput === true" class="Form_Input" formControlName="ReferenceNumber" placeholder="Reference Number" width="100%">
      </form>
      <button mat-raised-button color="primary" style="top: 5px;" [disabled]="!Form.valid" (click)="Submit();bsModalRef.hide()" class="pull-right"> Submit </button>
   </div>
</ng-template>