/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
    display: flex;
    height:40px;
    width: 100%;
    margin-bottom: 5px;
 }
 .Page_Identity .Page_Track{
    width:100%;
    line-height: 35px;
 }
 .Page_Identity .Page_Track ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
    float: right;
 }
 .Page_Identity .Page_Track ul li {
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
 }
 .Page_Identity .Page_Track ul li.arrow{
    letter-spacing: -4px;
    font-size: 19px;
    transform: scale(.6, 1);
 }
 .Page_Identity .Page_Track ul li.arrowGreen{
    letter-spacing: -4px;
    font-size: 19px;
    transform: scale(.6, 1);
    color: #4E6A7A;
 }
 .Page_Identity .Page_Track ul li.HeaderName{
    color: #4E6A7A;
 }
 .Page_Identity .Page_Track ul li.LinkName{
    color: #4E6A7A;
    cursor: pointer;
 }
/* Form style */
 .Form_Input input {
    padding: 10px;
    width: 100%;
    height: 37px;
    outline: none;
    /* margin-bottom: 25px; */
    border: 1px solid gainsboro;
    color: #484848;
    font-weight: 500;
    font-size: 14px;
 }
 .Form_Input label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #4e6a7a;
 }
 .Form_Input input:-moz-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_Input input::-moz-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_Input input::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_Input input:-ms-input-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_Select label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #4e6a7a;
 }
 .Form_Select select{
    width: 100%;
    height: 37px;
    color: #999;
    outline: none;
    padding: 0px 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 25px;
 }
 .Form_Select select option{
    color: #999999;
    width: 100%;
 }
 .Form_TextArea label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #4e6a7a;
 }
 .Form_TextArea textarea {
    padding: 10px;
    width: 100%;
    outline: none;
    margin-bottom: 25px;
    border: 1px solid gainsboro;
    color: #484848;
    font-weight: 500;
    font-size: 14px;
 }
 .Form_TextArea textarea:-moz-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_TextArea textarea::-moz-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_TextArea textarea::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .Form_TextArea textarea:-ms-input-placeholder{
    color: #999999;
    font-weight: 400;
 }
 .error{
    margin: 0px;
    color: rgb(221, 10, 10);
    font-weight: 500;
    text-align: left;
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0.4px;
  }
/* Company Details */
 .Company_Details{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border-top: 2px solid #4E6A7A;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    position: relative;
 }
/* Section Identity */
 .SectionIdentity{
    color:#516570;
    font-size:18px;
    font-weight: 700;
 }
 .SectionIdentity .Highlight{
    color:#4E6A7A;
    font-size:18px;
    font-weight: 700;
 }
/* Add More Button */
 .AddMoreButton{
    position: absolute;
    top: 10px;
    right: 20px;
 }
/* Table Section */
 .table_section{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-right:10px;
 }
 .table_section .table_head{
    font-size:16px;
    cursor:pointer;
 }
 .table_head th {
    text-align: center;
    height: 40px;
    color: #597482;
    font-weight: 700;
    font-size: 15px;
 }
 .table_section tr{
    border:1px solid #e4dcdc;
 }
 
 .table_section tbody td{
    background-color:#f1f4f7;
    width:100%;
    height:45px;
    text-align:center;
 }
 .table_section tbody td.Style_1 input {
    width: 96%;
    margin: 0px 2%;
    height: 35px;
    border: 1px solid #c3c3c3;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #516570;
 }
 .table_section tbody td span{
    font-size:16px;
    font-weight:400;
    color:#6d6868;
 }
/* Result Section */
 .ResultSection {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
 }
 .ResultSection span.Title {
    width: 35%;
    color: #597482;
    font-weight: 700;
    font-size: 16px;
 }
 .ResultSection span.Split {
    width: 5%;
    color: #597482;
    font-weight: 700;
    font-size: 16px;
 }
 .ResultSection span.Value {
    width: 60%;
    color: #7897a7;
    font-weight: 500;
    font-size: 15px;
 }
/* Footer */
 .FooterForRequest {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 45px;
    text-align: right
 }