
<div class="page" style="margin-top:100px;margin-bottom:100px;">
      <div class="container-fluid">
         <!-- page identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Accounts</li>
                  <li class="arrow">>></li>
                  <li class="LinkName" [routerLink]="['/List_Log_Expenses']">Log Expenses List</li>
                  <li class="arrow">>></li>
                  <li> Log Expenses Create </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <!-- Company details -->
            <div class="col-sm-12">
               <div class="Company_Details">
                  <div class="row">
                     <div class="col-sm-4 Form_Select">
                        <label>Type Of Expense:</label>
                        <select>
                           <option checked>Type Of Expense</option>
                           <option> Expense</option>
                           <option> Expense</option>
                           <option> Expense</option>
                           <option> Expense</option>
                        </select>
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Date:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Amount:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_TextArea">
                        <label>Comments:</label>
                        <textarea type="text" row="4"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row" style="margin-top:30px;"> 
            <div class="col-sm-12 text-right">
                  <button mat-raised-button color="primary" style = "bottom: 20px;"> Submit </button>
            </div>
         </div>
      </div>
   </div>
   
      
                  
               
         
         
      
   
