<app-header></app-header>
<!-- Main Section -->
<div class="Main_Section">
  <!-- Page Section -->
  <div class="Page_Section">
    <div class="container-fluid">
      <!-- Page identity -->
      <div class="Page_Identity">
        <div class="Page_Track">
          <ul>
            <li class="HeaderName">Inventory</li>
            <li class="arrow">>></li>
            <li>Purchase Bills List</li>
          </ul>
        </div>
      </div>
      <!-- Header Part -->
      <div class="row header_part">
        <div class="col-sm-6">
          <button class="Create_Button" mat-button [routerLink]="['/Purchase_Bills_Create']"> + Create </button>
        </div>
        <div class="col-sm-6">
          <div class="Search_Section">
            <input type="text" placeholder="Search.." name="search">
            <i class="material-icons">search</i>
          </div>
        </div>
      </div>
      <!-- Table section -->
      <div class="Table_Section">
        <table>
          <thead>
            <tr>
              <th>S.no</th>
              <th>Purchase Bill Ref.No</th>
              <th>Purchase Bill date</th>
              <th>Supplier Details</th>
              <th>Created By</th>
              <th>Total Value</th>
              <th>Action</th>
              <th>Payment Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of _List; let i=index   ">
              <td>
                <span class="S_no">{{i+1}}</span>
              </td>
              <td>
                <span class="Style_2">{{item.PurchaseBill_RefNo}}
                </span>
              </td>
              <td>
                <span class="Style_2">{{item.PurchaseBill_Date | date}}
                </span>
              </td>
              <td>
                <span class="Style_2">{{item.Supplier_Id?.Name}}
                    <h6 class="Style_3">Phone: {{item.Supplier_Id?.Phone}}</h6>
                </span>
              </td>
              <td>
                <span class="Style_2">{{item.Created_By?.Name}}
                     <h6 class="Style_3">{{item.createdAt | date:'medium'}}</h6>
                </span>
              </td>
              <td>
                <span class="Style_3">{{item.Net_Amount}}</span>
              </td>
              <td>
                  <span class="Style_3">{{item.Payment_Status}}</span>
                </td>
              <td>
                <button mat-raised-button color="primary" (click)="SetActiveId(i)" [matMenuTriggerFor]="Action"> Action </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
  <button mat-menu-item [routerLink]="['/Create_Bill']">
    <span>Edit</span>
  </button>
  <button mat-menu-item [routerLink]="['/View_Bill']">
    <span>View</span>
  </button>
  <button *ngIf="ShowPayments" mat-menu-item (click)="RegisterPayment(template)">
   <span> Payments </span>
 </button>
</mat-menu>





<ng-template #template>
      <div class="modal-header">
         <h4 class="modal-title pull-left">Payment method</h4>
         <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body ">
         <div class="Form_Select">
               <ng-select class="NgSelect ValueBold"
                           [items]="_PaymentOptions"
                           [(ngModel)]="PaymentType"
                           placeholder="Select payment option">
               </ng-select>
         </div>
         <br>
         <div class="Form_Input">
            <input type="text" *ngIf="PaymentType === 'NEFT/RTGS'" [(ngModel)]="Reference_No" placeholder="Reference Number" width="100%">
         </div>
         <br>
         <button mat-raised-button color="primary" style="top: 5px;" (click)="Update();bsModalRef.hide()" class="pull-right"> Submit </button>
      </div>
   </ng-template>
   