<!-- Page -->
<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Inventory</li>
               <li class="arrow">>></li>
               <li class= "LinkName" [routerLink]="['/purchase_request_list']">Purchase Request List</li>
               <li class="arrow">>></li>
               <li >Purchase Orders Create</li>
            </ul>
         </div>
      </div>
      <form>
         <div class="row">
           <div class="col-sm-12">
               <!-- Company details -->
               <div class="Company_Details">
                  <h5 class="SectionIdentity"> 
                     <span class="Highlight"> Request </span> Details
                  </h5>
                  <br>
                  <div class="row">
                     <div class="col-sm-4 Form_Input">
                        <label>Ref No:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label> Supplier:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Date:</label>
                        <input type="text" readonly="true">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Contact:</label>
                        <input type="text" readonly="true">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Validity Till:</label>
                        <input type="text" readonly="true">
                     </div>
                     <div class="col-sm-4 Form_TextArea">
                        <label>Subject:</label>
                        <textarea class="Description" rows="3"></textarea>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Section Identity -->
            <div class="col-sm-12" style="margin-top:25px;">
               <div class="Company_Details">
                  <h5 class="SectionIdentity"> 
                     <span class="Highlight"> Product </span> Details
                  </h5>
                  <span class="AddMoreButton">
                     <button mat-raised-button color="primary" >Add Product</button>
                  </span>
                  <br>
                  <!-- Table Section -->
                  <div class="Product_Details">
                     <table class="table_section">
                        <thead class="table_head">
                           <tr>
                              <th style="width: 80px">S.No</th>  
                              <th>Product</th>  
                              <th>Price</th>  
                              <th>Quantity</th> 
                              <th>Tax</th> 
                              <th>Total</th> 
                              <th style="width: 100px">Action</th> 
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td class="Style_1">
                                 <span> 1 </span> 
                              </td>
                              <td class="Style_1">
                                 <input type="text">
                              </td>
                              <td class="Style_1">
                                 <input type="text">
                              </td>
                              <td class="Style_1">
                                 <input type="text">
                              </td>
                              <td class="Style_1">
                                 <input type="text">
                              </td>
                              <td class="Style_1">
                                 <input type="text">
                              </td>
                              <td class="Style_1">
                                 <button class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                                    <i class="material-icons">delete_forever</i>
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <br>
                     <!-- Result Section -->
                     <div class="row">
                        <div class="col-sm-9">
                        </div>
                        <div class="col-sm-3">
                           <div class="ResultSection">
                              <span class="Title"> Sub Total </span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                           <div class="ResultSection">
                              <span class="Title"> Total Tax</span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                           <div class="ResultSection">
                              <span class="Title"> Total </span>
                              <span class="Split"> : </span>
                              <span class="Value"> Rs.0000 </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- Footer -->
<div class="FooterForRequest">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
