<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Accounts</li>
                  <li class="arrow">>></li>
                  <li >Cash Registers </li>
               </ul>
            </div>
         </div>
         <!-- Header Part -->
         <div class="row header_part">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th> S.no </th>
                     <th> Date </th>
                     <th> Particulars </th>
                     <th> Credit </th>
                     <th> Debit </th>
                     <th> Balance </th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of _List; let i=index">
                     <td>
                        <span class="S_no"> {{i + 1}} </span>
                     </td>
                     <td>
                        <span class="Style_1"> {{item.Date | date:'medium'}} </span>
                     </td>
                     <td>
                        <span class="Style_1"> 
                           <span *ngIf="item.Reference_Type === 'CustomerBill_Credit'"> From Customer </span>
                           <span *ngIf="item.Reference_Type === 'FranchiseeBill_Credit'"> From Franchisee </span>
                           <span *ngIf="item.Reference_Type === 'LogExpense_Debit'"> To Log Expense </span>
                           <span *ngIf="item.Reference_Type === 'PurchaseBill_Debit'"> To Purchase </span>
                        </span>
                     </td>
                     <td>
                        <span class="Style_1" *ngIf="item.Type === 'Credit'"> {{item.Amount}} </span>
                     </td>
                     <td>
                        <span class="Style_1" *ngIf="item.Type === 'Debit'"> {{item.Amount}} </span>
                     </td>
                    <td>
                       <span class="Style_1"> {{item.Available_Amount}} </span>
                    </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>


   
   

