<!-- Main Section -->
<div class="Main_Section">
   <div class="page_section">
      <div class="container-fluid">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Inventory</li>
                  <li class="arrow">>></li>
                  <li > Receive Products List </li>
               </ul>
            </div>
         </div>
         <!-- Header Part -->
         <div class="row header_part">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th> S.no </th>
                     <th> Supplier Name</th>
                     <th> Inward Ref </th>
                     <th> Total Value </th>
                     <th> Status </th>
                     <th> Action </th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let List of _List; let i=index">
                     <td>
                        <span class="S_no">{{i+1}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{List.Supplier_Id?.Name}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{List.PurchaseBill_Number}}</span>
                     </td>
                     <td>
                        <span class="Style_1">{{List.Net_Amount}}</span>
                     </td>
                     <td>
                        <span class="Style_1">Requested</span>
                     </td>
                     <td>
                        <button color="primary" mat-raised-button [matMenuTriggerFor]="Action" (click)="SetActionId(i)">Action</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<!-- Dropdown menus -->
   <mat-menu #Action="matMenu" class="MenuStyleOne" [overlapTrigger]="false" xPosition="after" yPosition="below">
      <button mat-menu-item (click)="View()">
         <span>View</span>
      </button>
      <button mat-menu-item (click)="UpdateStock()" *ngIf="ButtonType === 'Receive'">
         <span> Receive </span>
      </button>
      <button mat-menu-item>
         <span> Return </span>
      </button>
      <button mat-menu-item (click)="UpdateYield()" *ngIf="ButtonType === 'UpdateYield'">
         <span> Update Yield </span>
      </button>
   </mat-menu>

   <!-- <mat-menu #ActionOne="matMenu" class="MenuStyleOne" [overlapTrigger]="false" xPosition="after" yPosition="below">
         <button mat-menu-item (click)="View()">
            <span>View</span>
         </button>
         <button mat-menu-item (click)="UpdateYield()">
            <span> Update Yield </span>
         </button>
      </mat-menu>
       -->
      