<div class="page" style="margin-top:100px;margin-bottom:100px;">
    <div class="container-fluid">
       <!-- page Identity -->
       <div class="Page_Identity">
          <div class="Page_Name">
             <h5>CUSTOMER VIEW</h5>
          </div>
          <div class="Page_Track">
          <ul>
             <li class="HeaderName">Customer</li>
             <li class="arrow">>></li>
             <li class="LinkName" [routerLink]="['/List_Customer']">Customer List</li>
             <li class="arrow">>></li>
             <li>Customer View</li>
          </ul>
          </div>
       </div>
       <div class="row">
          <!-- Company details -->
          <div class="col-sm-4">
          <div class="Company_Details">
             <div class="view_item">
                <div class="Static">Customer Name </div>
                <div class="dots"> : </div>
                <div class="Data">  {{_Data['Name']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Phone Number</div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Phone']}}  </div>
             </div>
             <div class="view_item">
                <div class="Static">Email Address </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Email']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">GST NO </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['GSTNo']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Address </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Address']}} </div>
             </div>
          </div>
          <br>
          </div>
          <div class="col-sm-8">
             <div class="Table_Section">
                <table>
                   <thead>
                      <tr>
                         <th>S.no</th>
                         <th>Order No</th>
                         <th>Value</th>
                         <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>
                            <span class="S_no"> 1 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                        <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 2 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                        <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 3 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                         <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 4 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                         <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
             <br>
          </div>
       </div>
    </div>
 </div>
 
 