<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
    <div class="Loading">
          <div class="spinner">
             <div class="rect1"></div>
             <div class="rect2"></div>
             <div class="rect3"></div>
             <div class="rect4"></div>
             <div class="rect5"></div>
             <div class="rect6"></div>
          </div>
    </div>
 </div>
 <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
 <!-- Main Section -->
 <div class="Main_Section">
    <!-- Page Section -->
    <div class="page_section">
       <div class="container-fluid">
          <!-- Page Identity -->
          <div class="Page_Identity">
             <div class="Page_Name">
                <h5>CUSTOMER LIST</h5>
             </div>
             <div class="Page_Track">
                <ul>
                   <li class= "HeaderName">Customer</li>
                   <li class="arrow">>></li>
                   <li>Customer List</li>
                </ul>
             </div>
          </div>
          <!-- Header Part -->
          <div class="row header_part">
             <div class="col-sm-6">
                <button class="Create_Button" mat-button [routerLink]="['/Create_Customer']"> + Create </button>
             </div>
             <div class="col-sm-6">
                <div class="Search_Section">
                   <input type="text" placeholder="Search.." name="search">
                   <i class="material-icons">search</i>
                </div>
             </div>
          </div>
          <!-- Table section -->
          <div class="Table_Section">
             <table>
                <thead>
                   <tr>
                      <th>S.no</th>
                      <th>Name</th>
                      <th>phone Number</th>
                      <th>Email Id</th>
                      <th>GST No</th>
                      <th>Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let Item of _List; let i=index">
                      <td>
                         <span class="S_no"> {{ i + 1}} </span>
                      </td>
                      <td>
                         <span class="Style_1">{{Item.Name}}</span>
                      </td>
                      <td>
                         <span class="Style_1">{{Item.Phone}}</span>
                      </td>
                      <td>
                         <span class="Style_1">{{Item.Email}}</span>
                      </td>
                      <td>
                         <span class="Style_1">{{Item.GSTNo}}</span>
                      </td>
                      <td>
                         <button color="primary" mat-raised-button [matMenuTriggerFor]="Action" (click)="SetActionId(i)">Action</button>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
 </div>
 <!-- Dropdown menus -->
 <mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
    <button mat-menu-item (click)="Edit()">
       <span>Edit</span>
    </button>
    <button mat-menu-item (click)="View()">
       <span>View</span>
    </button>
    <!-- <button mat-menu-item (click)="Delete()">
        <span>Delete</span>
    </button> -->
 </mat-menu>
    
       