<app-header></app-header>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Accounts</li>
               <li class="arrow">>></li>
               <li>Log Expenses List</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
            <button class="Create_Button" mat-button [routerLink]="['/Create_Log_Expenses']"> + Create </button>
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th> S.no </th>
                  <th> Type Of Expense </th>
                  <th> Expense Date </th>
                  <th> Expense </th>
                  <th> Amount </th>
                  <th> Status </th>
                  <th> Action </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let Item of _List; let i=index">
                  <td>
                     <span class="S_no"> {{ i + 1 }} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ Item['Expenses_Type']?.Expense_Type }}</span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ Item['Date'] | date:'d/M/yyyy' }} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ Item['Expenses'] }} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ Item['Amount'] }} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{ Item['Current_Status'] }} </span>
                  </td>
                  <button mat-raised-button color="primary" (click)="SetActiveId(i)" [matMenuTriggerFor]="Action"> Action </button>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
   </div>
</div>
<!-- Dropdown menus -->
<mat-menu #Action="matMenu" class="MenuStyleOne" [overlapTrigger]="false" yPosition="below" xPosition="after">
   <button mat-menu-item [routerLink]="['/View_Log_Expenses']">
      <span> View </span>
   </button>
   <button *ngIf="ShowRegisterPayment" mat-menu-item (click)="RegisterPayment(template)">
      <span> Register Payment </span>
   </button>
</mat-menu>







<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Payment method</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body ">
      <div class="Form_Select">
            <ng-select class="NgSelect ValueBold"
                        [items]="_PaymentOptions"
                        [(ngModel)]="PaymentType"
                        placeholder="Select payment option">
            </ng-select>
      </div>
      <br>
      <div class="Form_Input">
         <input type="text" *ngIf="PaymentType === 'Card'" [(ngModel)]="Reference_No" placeholder="Reference Number" width="100%">
      </div>
      <br>
      <button mat-raised-button color="primary" style="top: 5px;" (click)="Update();bsModalRef.hide()" class="pull-right"> Submit </button>
   </div>
</ng-template>

