<div class="page" style="margin-top:100px;margin-bottom:100px;">
    <div class="container-fluid">
       <!-- page Identity -->
       <div class="Page_Identity">
          <div class="Page_Name">
             <h5>FRANCHISEE VIEW</h5>
          </div>
          <div class="Page_Track">
          <ul>
             <li class="HeaderName">Franchisee</li>
             <li class="arrow">>></li>
             <li class="LinkName" [routerLink]="['/List_Franchisee']">Franchisee List</li>
             <li class="arrow">>></li>
             <li>Franchisee View</li>
          </ul>
          </div>
       </div>
       <div class="row">
          <!-- Company details -->
          <div class="col-sm-4">
          <div class="Company_Details">
             <div class="view_item">
                <div class="Static">Franchisee Name </div>
                <div class="dots"> : </div>
                <div class="Data">  {{_Data['Name']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">User Name </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['User_Name']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Phone Number</div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Phone']}}  </div>
             </div>
             <div class="view_item">
                <div class="Static">Email Address </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Email']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Website </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['Website']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">GST NO </div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data['GSTNo']}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Billing Address </div>
                <div class="dots"> : </div>
                <div class="Data"> 
                   <span> {{_Data['BillingAddress']?.Street}}, {{_Data['BillingAddress']?.Area}} </span>
                   <span> {{_Data['BillingAddress']?.City?.City_Name}}, </span>
                   <span> {{_Data['BillingAddress']?.State?.State_Name}},</span>
                   <span> {{_Data['BillingAddress']?.Country?.Country_Name}} - {{_Data['BillingAddress']?.ZipCode}}.</span>
                </div>
             </div>
             <div class="view_item">
                <div class="Static">Shop floor Address </div>
                <div class="dots"> : </div>
                <div class="Data">
                   <span> {{_Data['ShopFloorAddress']?.Street}}, {{_Data['ShopFloorAddress']?.Area}} </span>
                   <span> {{_Data['ShopFloorAddress']?.City?.City_Name}}, </span>
                   <span> {{_Data['ShopFloorAddress']?.State?.State_Name}}, </span>
                   <span> {{_Data['ShopFloorAddress']?.Country?.Country_Name}} - {{_Data['ShopFloorAddress']?.ZipCode}}.</span>   
                </div>
             </div>
          </div>
          <br>
          </div>
          <div class="col-sm-8">
             <div class="Table_Section">
                <table>
                   <thead>
                      <tr>
                         <th>S.no</th>
                         <th>Order No</th>
                         <th>Value</th>
                         <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>
                            <span class="S_no"> 1 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                        <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 2 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                        <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 3 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                         <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                      <tr>
                         <td>
                            <span class="S_no"> 4 </span>
                         </td>
                         <td>
                            <span class="Style_1">bill_123</span>
                         </td>
                         <td>
                            <span class="Style_1">32300</span>
                         </td>
                         <td>
                            <span class="Style_1">Process</span>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
             <br>
          </div>
       </div>
    </div>
 </div>
 
 