<app-header></app-header>
<div class="Main_Section">
   <div class="container-fluid">
      <!-- page Section -->
      <div class="Page_Section">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Sales</li>
                  <li class="arrow">>></li>
                  <li class="LinkName" [routerLink]="['/List_Franchisee']">Franchisee List</li>
                  <li class="arrow">>></li>
                  <li>Franchisee View</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="row">
                  <!-- Image section -->
                  <div class="col-sm-3 Image_Section">
                        <img src="../../../../../assets/images/basic/company.png">
                  </div>
                  <div class="col-sm-9 ">
                     <div class="row">
                     <div class="col-sm-3">
                           <div class="Card card_bg_Liner_1">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                       <i class="material-icons assignment"> assignment </i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_1"> Quotation </h5>
                                    <h6> Rs.2,00,00,000.00 </h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_1">
                                 <span class="Card_Info"> Rs.5,000.00 Last Added </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_2">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <!-- <i class="material-icons assignment"> assignment</i> -->
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_2 "> Sale Order </h5>
                                    <h6>25 Orders</h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_2">
                                 <span class="Card_Info"> 45 Logs In last Day </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_3">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons account_balance">account_balance_wallet</i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_3"> Opening Balance</h5>
                                    <h6> Rs.2,00,00,000.00 </h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_3">
                                 <span class="Card_Info"> Rs.5,000.00 Last Added </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_4">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons alarm"> alarm </i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_4"> Remainders</h5>
                                    <h6> 10 Remainders </h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_4">
                                 <span class="Card_Info"> 10 Remainders In Last Day   </span>
                              </div>
                           </div>
                        </div><br>
                     </div><br>
                     <div class="row">
                           <div class="col-sm-12">
                               <div class="Table_Section">
                                   <table>
                                     <thead>
                                       <tr>
                                         <th>S.no</th>
                                         <th>Product </th>
                                         <th>On Hand Qty</th>
                                         <th>Sales Qty</th>
                                         <th>Total value</th>
                                       </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <td>
                                           <span class="S_no"> 1 </span>
                                         </td>
                                        <td>
                                           <span class="Style_1">Mutton 1KG Box </span>
                                         </td>
                                         <td>
                                           <span class="Style_1">30</span>
                                         </td>
                                         <td>
                                           <span class="Style_1">20</span>
                                         </td>
                                         <td>
                                           <span class="Style_1">40,000.00</span>
                                         </td>
                                       </tr>
                                       <tr>
                                         <td>
                                           <span class="S_no"> 2 </span>
                                         </td>
                                         <td>
                                           <span class="Style_1">Chicken 1KG Box </span>
                                         </td>
                                         <td>
                                          <span class="Style_1">30</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20,000.00</span>
                                        </td>
                                       </tr>
                                       <tr>
                                         <td>
                                           <span class="S_no"> 3 </span>
                                         </td>
                                        <td>
                                           <span class="Style_1">Fish-1 1KG Box</span>
                                         </td>
                                         <td>
                                          <span class="Style_1">30</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">10,000.00</span>
                                        </td>
                                        </tr>
                                       <tr>
                                         <td>
                                           <span class="S_no"> 4 </span>
                                         </td>
                                         <td>
                                           <span class="Style_1">Fish-2 1KG Box</span>
                                         </td>
                                         <td>
                                          <span class="Style_1">30</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20,000.00</span>
                                        </td>
                                       </tr>
                                       <tr>
                                         <td>
                                           <span class="S_no"> 5 </span>
                                         </td>
                                        <td>
                                           <span class="Style_1">Fish-3 1KG Box</span>
                                         </td>
                                         <td>
                                          <span class="Style_1">30</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">20</span>
                                        </td>
                                        <td>
                                          <span class="Style_1">30,000.00</span>
                                        </td>
                                       </tr>
                                     </tbody>
                                   </table>
                                 </div>
                           </div>
                         </div>
                  </div>
                 </div> <br>                
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Dropdown menus -->
<mat-menu #Action="matMenu">
   <button mat-menu-item (click)="CreateContact()">
      <span>Contacts</span>
   </button>
   <button mat-menu-item (click)="CreateActivity()">
      <span>Activities</span>
   </button>
   <button mat-menu-item [routerLink]="['/crm_quotations_create']">
      <span>Quotes</span>
   </button>
   <button mat-menu-item [routerLink]="['/crm_saleorder_create']">
      <span>Sale Order</span>
   </button>
   <button mat-menu-item [routerLink]="['/crm_invoice_create']">
      <span>Invoices</span>
   </button>
   <button mat-menu-item (click)="CreatePayments()">
      <span>Payments</span>
   </button>
</mat-menu>
      

  
  
   

