<div class="Header_Page">
   <!-- Header One -->
   <div class="Header_One">
      <!-- Logo -->
      <img src="../../../../assets//images/basic/H4C-logo.png" alt="Logo" class="Header_Logo"> 
      <!-- Header Button -->
      <span class="Header_Button">
            <button mat-button color="primary" [routerLink]="['/Create_Bill']" > + Bill </button>
      </span>
      <!-- Search Section -->
      <span class="search_section">
         <input type="text" placeholder="search">
         <i class="material-icons">search </i>
      </span>
      <!-- Logout Button -->
      <span class="Logout_Btn"> <span (click)="LogOut()"> Logout </span></span>
   </div>
   <!-- Header Two -->
   <div class="Header_Two">
      <ul class="Menus">
         <!-- DashBoard -->
         <li [routerLinkActive]="['active']" class="Menu_List" [routerLink]="['/Main_Dashboard']">
            <span class="Menu">
               <i class="material-icons">dashboard</i>
               <span> &nbsp; Dashboard </span> 
            </span>
         </li>
         <!-- CRM -->
         <li [routerLinkActive]="['active']" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Sales </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Franchisee']"><a> Franchisee </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Bill']"><a> Bill  </a></li>
               </ul>
            </span>
         </li>
         <!-- Purchase -->
         <li [routerLinkActive]="['active']" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Inventory </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/purchase_request_list']"><a> Purchase Orders </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Receive_Products']"><a> Receive Products </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Deliver_Products']"><a> Deliver Products </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Stock_Values']"><a> stock values </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/Purchase_Bills_List']"><a> Purchase Bills </a></li>
               </ul>
            </span>
         </li>
        <!-- Accounts -->
         <li [routerLinkActive]="['active']" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Accounts </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Franchisee_payments']"><a> Franchisee Payments </a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/vendor_payment_list']"><a>Supplier Payments</a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Log_Expenses']"><a>Log Expenses</a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Bank_Register']"><a>Bank Registers</a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Cash_Register']"><a>Cash Registers</a></li>
                  <li [routerLinkActive]="['active']" class="Menu_Tree_List" [routerLink]="['/List_Cheque_Entries']"><a>Cheque Entries</a></li>
               </ul>
            </span>
         </li>
         <!-- Product -->
         <li [routerLinkActive]="['active']" class="Menu_List" [routerLink]="['/List_Product']" style="outline:none;">
            <span class="Menu">
               <i class="material-icons">people</i>
               <span > &nbsp; Product </span> 
            </span>
         </li>
     </ul>
   </div>
</div>

