<div class="Header_Page">
   <!-- Header One -->
   <div class="Header_One">
      <!-- Logo -->
      <img src="../../../../assets//images/basic/H4C-logo.png" alt="Logo" class="Header_Logo"> 
      <!-- Header Button -->
      <span class="Header_Button">
            <button mat-button color="primary" [routerLink]="['/Create_Bill']" > + Bill </button>
      </span>
      <!-- Search Section -->
      <span class="search_section">
         <input type="text" placeholder="search">
         <i class="material-icons">search </i>
      </span>
      <!-- Logout Button -->
      <span class="Logout_Btn"> <span (click)="LogOut()"> Logout </span></span>
   </div>
   <!-- Header Two -->
   <div class="Header_Two">
      <ul class="Menus">
         <!-- DashBoard -->
         <li *ngIf="ModulesValidate('Dashboard')" class="Menu_List" [routerLink]="['/Main_Dashboard']">
            <span class="Menu">
               <i class="material-icons">dashboard</i>
               <span> &nbsp; Dashboard </span> 
            </span>
         </li>
         <!-- CRM -->
         <li *ngIf="ModulesValidate('Sales')" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Sales </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li *ngIf="SubModulesValidate('Sales_Franchisee_List')" class="Menu_Tree_List" [routerLink]="['/List_Franchisee']"><a> Franchisee </a></li>
                  <li *ngIf="SubModulesValidate('Sales_Invoice_List')" class="Menu_Tree_List" [routerLink]="['/List_Bill']"><a> Bill  </a></li>
               </ul>
            </span>
         </li>
         <!-- Purchase -->
         <li *ngIf="ModulesValidate('Purchase')" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Inventory </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li *ngIf="SubModulesValidate('Purchase_Requests_List')" class="Menu_Tree_List" [routerLink]="['/purchase_request_list']"><a> Purchase Orders </a></li>
                  <li *ngIf="SubModulesValidate('Purchase_Requests_List')" class="Menu_Tree_List" [routerLink]="['/List_Receive_Products']"><a> Receive Products </a></li>
                  <li *ngIf="SubModulesValidate('Purchase_Requests_List')" class="Menu_Tree_List" [routerLink]="['/List_Deliver_Products']"><a> Deliver Products </a></li>
                  <li *ngIf="SubModulesValidate('Purchase_Quotations_List')" class="Menu_Tree_List" [routerLink]="['/List_Stock_Values']"><a> stock values </a></li>
                  <li *ngIf="SubModulesValidate('Purchase_VendorBills_List')" class="Menu_Tree_List" [routerLink]="['/Purchase_Bills_List']"><a> Purchase Bills </a></li>
               </ul>
            </span>
         </li>
        <!-- Accounts -->
         <li *ngIf="ModulesValidate('Accounts')" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Accounts </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li *ngIf="SubModulesValidate('Accounts_CustomerPayments_List')" class="Menu_Tree_List" [routerLink]="['/List_Franchisee_payments']"><a> Franchisee Payments </a></li>
                  <li *ngIf="SubModulesValidate('Accounts_VendorPayments_List')" class="Menu_Tree_List" [routerLink]="['/vendor_payment_list']"><a>Supplier Payments</a></li>
                  <li *ngIf="SubModulesValidate('Accounts_VendorPayments_List')" class="Menu_Tree_List" [routerLink]="['/List_Bank_Register']"><a>Bank Registers</a></li>
                  <li *ngIf="SubModulesValidate('Accounts_VendorPayments_List')" class="Menu_Tree_List" [routerLink]="['/List_Cash_Register']"><a>Cash Registers</a></li>
                  <li *ngIf="SubModulesValidate('Accounts_VendorPayments_List')" class="Menu_Tree_List" [routerLink]="['/List_Cheque_Entries']"><a>Cheque Entries</a></li>
               </ul>
            </span>
         </li>
         <!-- Product -->
         <li *ngIf="ModulesValidate('Product')" class="Menu_List" [routerLink]="['/List_Product']" style="outline:none;">
            <span class="Menu">
               <i class="material-icons">people</i>
               <span > &nbsp; Product </span> 
            </span>
         </li>
       <!-- <li *ngIf="ModulesValidate('Hr')" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; HR </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li  class="Menu_Tree_List" [routerLink]="['/List_Employees']"><a> Employees </a></li>
                  <li  class="Menu_Tree_List" [routerLink]="['/List_Attendance_Log']"><a> Attendance Log </a></li>
                  <li  class="Menu_Tree_List" [routerLink]="['/List_Attendance_Report']"><a> Attendance Report </a></li>
                  <li  class="Menu_Tree_List" [routerLink]="['/List_Payroll']" ><a> Payroll </a></li>
                  <li  class="Menu_Tree_List"  [routerLink]="['/List_Payroll_Master']"><a> Payroll Master </a></li>
               </ul>
            </span>
         </li> -->
         <!-- HRMS -->
        <!-- <li *ngIf="ModulesValidate('Hrms')" class="Menu_List"  [routerLink]="['/main_hrms']" style="outline:none;">
            <span class="Menu">
               <i class="material-icons">people</i>
               <span > &nbsp; HRMS </span> 
            </span>
         </li> -->
         <!-- <li *ngIf="ModulesValidate('Hrms')" class="Menu_List" >
                <span class="Menu_Tree">
                   <span class="Menu">
                      <i class="material-icons">people</i>
                      <span> &nbsp; HRMS </span> 
                   </span>
                   <ul class="Menu_Tree_View">
                      <li  class="Menu_Tree_List" [routerLink]="['/HRMS_DashBoard']"><a> DashBoard </a></li>
                      <li  class="Menu_Tree_List" [routerLink]="['/List_Leaves']"><a> Leaves </a></li>
                      <li  class="Menu_Tree_List" [routerLink]="['/List_Onduty']"><a> On Duty </a></li>
                      <li  class="Menu_Tree_List" [routerLink]="['/List_Permissions']" ><a> Permissions </a></li>
                      <li  class="Menu_Tree_List"  [routerLink]="['/List_Advance']"><a> Advance </a></li>
                   </ul>
                </span>
             </li> -->
         <!-- Seetings -->
         <!-- <li *ngIf="ModulesValidate('Settings')" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">settings</i>
                  <span> &nbsp; Settings </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li *ngIf="SubModulesValidate('Settings_Company_Settings')" class="Menu_Tree_List" [routerLink]="['/company_settings']"><a> Company Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Crm_Settings')" class="Menu_Tree_List" [routerLink]="['/CRM_Settings']"><a> CRM Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Leads_Settings')" class="Menu_Tree_List" [routerLink]="['/lead_settings']"><a> Leads Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Purchase_Settings')" class="Menu_Tree_List" [routerLink]="['/purchase_settings']"><a> Purchase Settings  </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Hrms_Settings')" class="Menu_Tree_List" [routerLink]="['/Hrms_Settings']" ><a> HRMS Settings  </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Hr_Settings')" class="Menu_Tree_List" [routerLink]="['/Hr_Settings']" ><a> HR Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Inventory_Settings')" class="Menu_Tree_List" [routerLink]="['/Inventory_Settings']" ><a> Inventory Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Product_Settings')" class="Menu_Tree_List" [routerLink]="['/Product_Settings']" ><a> Product Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_Account_Settings')" class="Menu_Tree_List" [routerLink]="['/Account_Settings']"><a> Account Settings </a></li>
                  <li *ngIf="SubModulesValidate('Settings_UserManagement_Settings')" class="Menu_Tree_List" [routerLink]="['/User_Management']"><a> User Management  </a></li>
                  <li *ngIf="SubModulesValidate('Settings_UserPermissions_Settings')" class="Menu_Tree_List" [routerLink]="['/User_Permissions']"><a> User Permissions </a></li>
               </ul>
            </span>
         </li> -->
     </ul>
   </div>
</div>

