<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li>Employees</li>
            </ul>
         </div>
      </div>
      <form>
         <div class="row">
            <!-- Company details -->
            <div class="Company_Details">
               <br>
               <div class="col-sm-12">
                  <div class="view_item">
                     <div class="Static">Employee Name </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Employee Name</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Code</div>
                     <div class="dots"> : </div>
                     <div class="Data"> Code</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Branch </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Branch</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Category </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Category </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Department </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Department </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Job Title </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Job Title </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Manager </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Manager </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Mobile No </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Mobile No </div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Date Of Joining </div>
                     <div class="dots"> : </div>
                     <div class="Data"> Date Of Joining </div>
                  </div>
               </div>
               <br>
            </div>
         
                  <!-- Product Details -->
<div class="Product_Details">
   <!-- Product Tab -->
   <div class="Product_Tab">
      <div class="Product_details">
         <span [ngClass]="{'active': Active_Tab === 'personal_info'}" (click)="Active_Tab_Change('personal_info')">Personal Info</span>
      </div>
      <div class="Quote_Terms">
         <span [ngClass]="{'active': Active_Tab === 'salary_details'}" (click)="Active_Tab_Change('salary_details')">Salary Details</span>
      </div>
   </div>
   <br>
   <div class="page" *ngIf="Active_Tab === 'personal_info'">
      <div class="container-fluid">
         <!-- Company Details -->
         <div class="row">
            <div class="Company_Details">
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Info</span></h5><br>
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="No/Street">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="Area">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="Country">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="State">
                     </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="City">
                     </div>
                     <div class="col-sm-4 Form_Select" >
                        <select>
                              <option checked>Marital Status</option>
                              <option> yes</option>
                              <option> No</option>
                           </select>
                           </div>
                     <div class="col-sm-4 Form_Input" >
                        <input type="text" placeholder="Date Of Birth"> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row" style="margin-top:20px;"> 
            <div class="col-sm-12 text-right">
               <button mat-raised-button color="primary" > Submit </button>
            </div>
         </div>
      </div>
   </div>
   <div class="page" *ngIf="Active_Tab === 'salary_details'">
      <div class="container-fluid">
         <!-- Company Details -->
         <div class="row">
            <div class="Company_Details">
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Salary <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5>
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-sm-4 Form_Select" >
                        <select>
                           <option checked>Select an option</option>
                           <option> Monthly</option>
                           <option> Hours</option>
                        </select>
                     </div>
                  </div>
               </div>
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Earnings
                  <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
               </h5>
               <!-- table section -->
               <table class="table_section">
                  <thead class="table_head">
                     <tr>
                     <th class="S_No">Earnings Type</th>
                     <th>Based On</th>
                     <th>Amount Or Percentage</th>
                     <th>Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td >Basic Pay</td>
                        <td class="Form_Select">
                           <select>
                              <option checked>Select an option</option>
                              <option> Fixed</option>
                              <option> Percentage</option>
                           </select>
                        </td>
                        <td class="Form_Input" >
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                        <td class="Form_Input">
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                     </tr>
                  </tbody>
               </table><br>
               <!-- Detection Table -->
               <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Detection
                  <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
               </h5>
               <table class="table_section">
                  <thead class="table_head">
                     <tr>
                        <th class="S_No">Detection Type</th>
                        <th>Based On</th>
                        <th>Amount Or Percentage</th>
                        <th>Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td >ESI</td>
                        <td class="Form_Select">
                           <select>
                              <option checked>Select an option</option>
                              <option> Fixed</option>
                              <option> Percentage</option>
                           </select>
                        </td>
                        <td class="Form_Input" >
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                        <td class="Form_Input">
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                     </tr>
                     <tr>
                        <td >PF</td>
                        <td class="Form_Select">
                           <select>
                              <option checked>Select an option</option>
                              <option> Fixed</option>
                              <option> Percentage</option>
                           </select>
                        </td>
                        <td class="Form_Input" >
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                        <td class="Form_Input">
                           <input type="text" style="margin-bottom:0px;">
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="row" style="margin-top:20px;"> 
            <div class="col-sm-12 text-right">
               <button mat-raised-button color="primary" > Submit </button>
            </div>
         </div>
      </div>
   </div>
</div>
         </div>
         <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 text-right">
            </div>
         </div>
      </form>
   </div>
</div>
